<div>
        <div class="card-body text-center">
                <p><img class=" img-fluid" src="{{ specificdetails_array.images.sm}}" alt="card image"></p>               
            </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <p>Individual Detail</p>  
            <mat-dialog-actions align="end">
                    <button mat-button mat-dialog-close (click)="test();">Cancel</button>                   
                  </mat-dialog-actions>
                
        </div>
    </div>
</div>
<div>