<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Link</a> -->
      </li>
      <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" #s placeholder="Search fullName or name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="ownfilter(s.value)" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8" id="table">
      <div class="row">
        <div class="col-sm-4" *ngFor="let item of getallDetailarray;">
          <div class="card" (click)="getByid(item.id);">
              <!-- <div class="card" (click)="getByid(item.id);selecteditem(item);"> -->
            <img class="card-img-top" src="{{ item.images.md}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>

              FullName<mat-card-subtitle>{{item.biography.fullName || "--"}}</mat-card-subtitle>
              <br>

              <div class="form-group">
                <div class="form-inline">
                  <label class="badge badge-info" for="email">Eyecolor </label>&nbsp;&nbsp;&nbsp;
                  <span> {{ item.appearance.eyeColor  }}</span>
                </div>
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <label class="badge badge-info" for="email">Gender </label>&nbsp;&nbsp;&nbsp;
                  <span> {{ item.appearance.gender  }}</span>
                </div>
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <label class="badge badge-info" for="email">Haircolor </label>&nbsp;&nbsp;&nbsp;
                  <span> {{ item.appearance.hairColor  }}</span>
                </div>
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <label class="badge badge-info" for="email">Race </label>&nbsp;&nbsp;&nbsp;
                  <span> {{ item.appearance.race  }}</span>
                </div>
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <label class="badge badge-info" for="email">Power </label>&nbsp;&nbsp;&nbsp;
                  <span> {{ item.powerstats.power  }}</span>
                </div>
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <label class="badge badge-info" for="email">Speed </label>&nbsp;&nbsp;&nbsp;
                  <span> {{ item.powerstats.speed  }}</span>
                </div>
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <label class="badge badge-info" for="email">Strength </label>&nbsp;&nbsp;&nbsp;
                  <span> {{ item.powerstats.strength  }}</span>
                </div>
              </div>

            </div>
            <div class="card-footer">
              <small class="text-muted">
                <dt>Occupation</dt>
                <dd> {{ item.work.occupation }} </dd>
              </small>
            </div>
          </div><br>
        </div>
      </div>
    </div>


    <div class="col-sm-3" id="table2">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar
            [ngStyle]="{'background': 'url(' + selectedArrayDetails.images.sm + ') no-repeat 0 0 / cover'}"></div>
          <mat-card-title>{{selectedArrayDetails.name}}</mat-card-title>
          <mat-card-subtitle>{{selectedArrayDetails.appearance.gender}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{selectedArrayDetails.images.md}}" height="250">
        <mat-card-content>
          <div class="row">
            <!-- <div class="col-sm-6">               -->
            <mat-card-subtitle>Biography</mat-card-subtitle>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Aliases</th>
                    <th>Alignment</th>
                    <th>AlterEgos</th>
                    <th>FirstAppearance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> {{ selectedArrayDetails.biography.aliases[0] }}</td>
                    <td> {{ selectedArrayDetails.biography.alignment }}</td>
                    <td> {{ selectedArrayDetails.biography.alterEgos }}</td>
                    <td>{{ selectedArrayDetails.biography.firstAppearance }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>FullName</th>
                    <th>PlaceOfBirth</th>
                    <th>Publisher</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ selectedArrayDetails.biography.fullName }}</td>
                    <td>{{ selectedArrayDetails.biography.placeOfBirth }}</td>
                    <td>{{ selectedArrayDetails.biography.publisher }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-card-subtitle>Appearance</mat-card-subtitle>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Eyecolor</th>
                    <th>Gender</th>
                    <th>Haircolor</th>
                    <th>Race</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> {{ selectedArrayDetails.appearance.eyeColor }}</td>
                    <td> {{ selectedArrayDetails.appearance.gender }}</td>
                    <td> {{ selectedArrayDetails.appearance.hairColor }}</td>
                    <td>{{ selectedArrayDetails.appearance.race }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-sm-6">
              <mat-card-subtitle>Height</mat-card-subtitle>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>feet</th>
                      <th>cm</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> {{ selectedArrayDetails.appearance.height[0] }}</td>
                      <td> {{ selectedArrayDetails.appearance.height[1] }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-6">
              <mat-card-subtitle>Weight</mat-card-subtitle>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>lb</th>
                      <th>kg</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> {{ selectedArrayDetails.appearance.weight[0] }}</td>
                      <td> {{ selectedArrayDetails.appearance.weight[1] }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- </div> -->

          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="col-sm-12">
              <mat-card-subtitle>Powerstats</mat-card-subtitle>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Combat</th>
                      <th>Durability</th>
                      <th>Intelligence</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> {{ selectedArrayDetails.powerstats.combat }}</td>
                      <td> {{ selectedArrayDetails.powerstats.durability }}</td>
                      <td> {{ selectedArrayDetails.powerstats.intelligence }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Power</th>
                      <th>Speed</th>
                      <th>Strength</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> {{ selectedArrayDetails.powerstats.power }}</td>
                      <td> {{ selectedArrayDetails.powerstats.speed }}</td>
                      <td> {{ selectedArrayDetails.powerstats.strength }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-card-actions>
        <mat-card-footer>
          <div class="row">
            <div class="col-sm-12">
              <dt>Base</dt>
              <dd> {{ selectedArrayDetails.work.base }} </dd>
              <dt>Occupation</dt>
              <dd> {{ selectedArrayDetails.work.occupation }} </dd>
              <dt>Group Affiliation</dt>
              <dd> {{ selectedArrayDetails.connections.groupAffiliation }} </dd>
              <dt>Relatives</dt>
              <dd> {{ selectedArrayDetails.connections.relatives }} </dd>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
      <!-- </div> -->
    </div>
  </div>
</div>