.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }  
  .mat-card-image {
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px;
}
 
  #table{
    overflow-y:scroll;
    height:850px;
    display:block;
 }
 .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


 #table2{
  overflow-y:scroll;
  height:850px;
  display:block;
}

 ::-webkit-scrollbar {
  display: none;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
